<h4 class="text-center rasc-text-primary">Shopping Cart</h4>

<table class="table align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Socks</td>
            <td>2</td>
            <td><button type="button" class="btn btn-outline-danger btn-sm">Remove</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Lego Toy</td>
            <td>1</td>
            <td><button type="button" class="btn btn-outline-danger btn-sm">Remove</button></td>
        </tr>
    </tbody>
</table>