<h4 class="text-center rasc-text-primary">Product Catalog</h4>

<table class="table align-middle">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async">
            <td>{{ product.productName }}</td>
            <td><button type="button" [attr.productId]="product.id" class="btn btn-outline-primary btn-sm"
                    #addBtn>Buy</button>
            </td>
        </tr>
    </tbody>
</table>